<nav class="menu navbar navbar-expand-lg">
  <a class="navbar-brand ml-3" href="/">Restaurant ABH</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <div class="menu__items navbar-nav ml-auto">
      <a class="nav-item nav-link active mr-5" href="/">Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link mr-5" href="/restaurants">Restaurants</a>
      <a class="login__menu__items--active nav-item nav-link mr-5 ml-3" href="/login">Login</a>
    </div>
  </div>
</nav>

<div class="form__container">
  <div class="form__container__login col-sm-12 col-md-8 col-lg-4 pt-5 pb-5">
    <div class="form__container__login__header mb-3">
      <h3>Create Account</h3>
      <a href="/login">Login</a>
    </div>
    {{#if showBackEndValidationError}}
      {{ error-message message="There was an error in the information you entered"}}
    {{/if}}
    <div class="form-group">
        {{input type="text" class="form-control" value=firstName placeholder="First Name" aria-describedby="firstName"}}
        {{#if showFirstNameError}}
          {{ error-message message="First name is missing"}}
        {{/if}}
    </div>
    <div class="form-group">
        {{input type="text" class="form-control" value=lastName placeholder="Last Name" aria-describedby="lastName"}}
        {{#if showLastNameError}}
          {{ error-message message="Last name is missing"}}
        {{/if}}
    </div>
    <div class="form-group">
        {{input type="email" class="form-control" value=email placeholder="Email" aria-describedby="emailHelp"}}
        {{#if showEmailError}}
          {{ error-message message="Email is missing"}}
        {{/if}}
        {{#if showInvalidEmailError}}
          {{ error-message message="Email is invalid"}}
        {{/if}}
        {{#if showEmailInUseError}}
          {{ error-message message="Email is taken"}}
        {{/if}}
    </div>
    <div class="form-group">
        {{input type="text" class="form-control"  value=phoneNumber placeholder="Phone Number" aria-describedby="phoneNumber"}}
        {{#if showPhoneNumberError}}
          {{ error-message message="Phone number is missing"}}
        {{/if}}
        {{#if showInvalidPhoneNumberError}}
          {{ error-message message="Phone number is invalid"}}
        {{/if}}
        
    </div>
    <div class="form-inline mb-3 mt-1">
      <select onchange={{action 'onCountrySelect' value="target.value"}} class="col-sm-12 col-md-6 col-lg-6 form-control">
        {{#each countries as |country|}}
          <option value="{{country}}">{{country}}</option>
        {{/each}}
      </select>
      <select onchange={{action 'onCitySelect' value="target.value"}} class="col-sm-12 col-md-6 col-lg-6 form-control">
        {{#each cities as |city|}}
          <option value="{{city}}">{{city}}</option>
        {{/each}}
      </select>
    </div>
    <div class="form-group">
      {{input type="password" class="form-control"  value=password placeholder="Password" aria-describedby="password"}}
      {{#if showPasswordError}}
        {{ error-message message="Password is missing"}}
      {{/if}}
      {{#if showPasswordTooShort}}
        {{ error-message message="Password is too short"}}
      {{/if}}
    </div>
    <div class="form-group">
      {{input type="password" class="form-control"  value=confirmPassword placeholder="Confirm Password" aria-describedby="confirmPassword"}}
      {{#if showPasswordDontMatchError}}
        {{ error-message message="Passwords dont match"}}
      {{/if}}
    </div>
    <button {{action "submitSignUp"}} class="form__container__login__button btn col-12 mt-3">Create Account</button>
  </div>
</div>
